* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
}

.App {
  text-align: center;

  .app_layer {
    margin: 0 auto;
    padding: 8px;
    max-width: 1140px;
  }
}

.users_layout {
  height: 320px;
}

.tag_list_layout {
  margin: 10px 0 36px;

  .tag_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}