body {
  background-color: rgb(11, 19, 27);
}

.App {
  text-align: center;
  color: white;

  .app_layer {
    margin: 0 auto;
    padding: 8px;
    max-width: 1140px;
  }
}

button {
  &.toggle_button {
    padding: 5px;
    &.selected {
      border: orangered solid 1px;
    }
  }
}